<div>
  <div id="chatContainer">
    Your name: <input [(ngModel)]="name" />
    Your message: <input [(ngModel)]="messageText" />
    <button (click)="sendMessage()">Send</button>
    <div class="container" *ngFor="let item of messages.slice().reverse() ">
      <p>Author: {{item.author}}</p>
      <p>{{item.msg}}</p>
      <span class="time-right">{{item.timeStamp}}</span>
    </div>
  </div>
</div>

<div class="jumbotron text-center">
  <button class="btn-dark" type="button" (click)="text2speech()">Convert last</button>
  <div *ngIf="file.length > 0">
    <audio controls>
      <source src="/audio/{{file}}.mp3" type="audio/mp3">
    </audio>
  </div>
  <p>FIT2095 Chat Application</p>
</div>
